@model IEnumerable<CaChepFinal2.Data.DataModel.Phong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .layout {
        background-image: url("~/images/layoyut/AnhChinh.png");
        width: 100%;
        height: 50rem;
    }
</style>

<br />
<br />

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px;color:steelblue;">
                            @Html.DisplayFor(modelItem => product.LoaiPhong.LoaiPhongName)
                        </label>
                    </h4>
                </div>

                <img class="card-img-top" style="height:100%;" src="@product.HinhUrl" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313">
                                @Html.DisplayFor(modelItem => product.Price)

                            </label>
                        </div>
                        <a asp-action="DetailsRoom" asp-controller="PhongCustomer" class="btn btn-success pull-right btn-outline-info" asp-route-id="@product.Id"> View Details</a>
                    </div>
                </div>

            </div>
        </div>

    }
</div>
