@using CaChepFinal2.Extensions
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.BodyClass = "bg1";
}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Cici Hotel</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cici.png" width="100rem" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark fa-tools" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="PhongCustomer" asp-action="IndexRoom">ROOM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiPhongs" asp-action="Index">Loại phòng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Phongs" asp-action="Index">Phòng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiDichVus" asp-action="Index">Loại dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="DichVus" asp-action="Index">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="DatPhongs" asp-action="Index">Phiếu đặt phòng</a>
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssPhongCart") != null)
                        {
                            <li style="color:white">
                                <a class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssPhongCart").Count;
                                        // count= count + HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssDichVuCart").Count;
                                    }
                                    (@count)
                                </a>

                            </li>

                        }
                        else
                        {
                            <li style="color:white">
                                <a class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp;
                                    (0)
                                </a>

                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid-0">
        @RenderBody()
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
