@page "/thuonghieu"
@using BlazorApp10.Shared
@inject HttpClient Http

<h1>Thương hiệu</h1>

<p>Bảng danh sách các thương hiệu hiện có</p>

@if (thuongHieus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Thương Hiệu</th>
             

            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in thuongHieus)
            {
                <tr>
                    <td>@forecast.TenThuongHieu</td>
                    

                </tr>
            }
        </tbody>
    </table>
}
@code {
  
    private BlazorApp10.Shared.Model.ThuongHieu[] thuongHieus;
    protected override async Task OnInitializedAsync()
    {
       
        thuongHieus = await Http.GetJsonAsync<BlazorApp10.Shared.Model.ThuongHieu[]>("api/ThuongHieux");
    }

}
