USE [master]
GO
/****** Object:  Database [CaChepFinal3]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE DATABASE [CaChepFinal3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaChepFinal3', FILENAME = N'C:\Users\thanh\CaChepFinal3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CaChepFinal3_log', FILENAME = N'C:\Users\thanh\CaChepFinal3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaChepFinal3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaChepFinal3]
GO
USE [CaChepFinal3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatPhongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhongs](
	[DatPhongId] [int] NOT NULL,
	[PhongId] [int] NOT NULL,
	[ThoiGian] [datetime2](7) NOT NULL,
	[TrangThaiId] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDatPhongs] PRIMARY KEY CLUSTERED 
(
	[DatPhongId] ASC,
	[PhongId] ASC,
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVuDatPhongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVuDatPhongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatPhongId] [int] NOT NULL,
	[DichVuId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDichVuDatPhongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](max) NOT NULL,
	[TiLeThayDoiGia] [int] NOT NULL,
	[IsTang] [bit] NOT NULL,
 CONSTRAINT [PK_ChuongTrinhs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDat] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Cmnd] [nvarchar](max) NULL,
	[Sdt] [nvarchar](max) NULL,
	[TienDatCoc] [money] NOT NULL,
	[ThoiGianNhanPhongDuKien] [datetime2](7) NOT NULL,
	[ThoiGianTraPhongDuKien] [datetime2](7) NOT NULL,
	[TongTien] [money] NOT NULL,
	[AccoutId] [int] NULL,
	[AccountId] [nvarchar](450) NULL,
 CONSTRAINT [PK_DatPhongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVus]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Price] [money] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[InStock] [int] NULL,
	[LoaiDvid] [int] NOT NULL,
 CONSTRAINT [PK_DichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhPhongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhPhongs](
	[HinhId] [int] IDENTITY(1,1) NOT NULL,
	[PhongId] [int] NOT NULL,
	[HinhUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_HinhPhongs] PRIMARY KEY CLUSTERED 
(
	[HinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVus]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiDichVus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HinhUrl] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiPhongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phongs]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phongs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Price] [money] NOT NULL,
	[LoaiPhongId] [int] NULL,
	[ChuongTrinhId] [int] NULL,
	[HinhUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThais]    Script Date: 6/12/2019 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TrangThais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'3.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191204232407_ver1', N'3.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191206045526_addHinhUrl', N'3.0.0')
SET IDENTITY_INSERT [dbo].[ChiTietDichVuDatPhongs] ON 

INSERT [dbo].[ChiTietDichVuDatPhongs] ([Id], [DatPhongId], [DichVuId], [SoLuong]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ChiTietDichVuDatPhongs] ([Id], [DatPhongId], [DichVuId], [SoLuong]) VALUES (2, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[ChiTietDichVuDatPhongs] OFF
SET IDENTITY_INSERT [dbo].[DatPhongs] ON 

INSERT [dbo].[DatPhongs] ([Id], [TenNguoiDat], [Address], [Cmnd], [Sdt], [TienDatCoc], [ThoiGianNhanPhongDuKien], [ThoiGianTraPhongDuKien], [TongTien], [AccoutId], [AccountId]) VALUES (1, N'Nguyen Phuoc', N'149', N'281212911', N'0937536545', 50000.0000, CAST(N'2019-11-22T00:00:00.0000000' AS DateTime2), CAST(N'2019-11-24T00:00:00.0000000' AS DateTime2), 7000000.0000, NULL, NULL)
INSERT [dbo].[DatPhongs] ([Id], [TenNguoiDat], [Address], [Cmnd], [Sdt], [TienDatCoc], [ThoiGianNhanPhongDuKien], [ThoiGianTraPhongDuKien], [TongTien], [AccoutId], [AccountId]) VALUES (2, N'Nguyen Truc', N'149', N'281212910', N'01264079973', 50000.0000, CAST(N'2019-12-03T00:00:00.0000000' AS DateTime2), CAST(N'2019-12-06T00:00:00.0000000' AS DateTime2), 4000000.0000, NULL, NULL)
INSERT [dbo].[DatPhongs] ([Id], [TenNguoiDat], [Address], [Cmnd], [Sdt], [TienDatCoc], [ThoiGianNhanPhongDuKien], [ThoiGianTraPhongDuKien], [TongTien], [AccoutId], [AccountId]) VALUES (3, N'Phan Tuyen', N'22', N'281212915', N'01626364802', 50000.0000, CAST(N'2019-12-23T00:00:00.0000000' AS DateTime2), CAST(N'2019-12-25T00:00:00.0000000' AS DateTime2), 5000000.0000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DatPhongs] OFF
SET IDENTITY_INSERT [dbo].[DichVus] ON 

INSERT [dbo].[DichVus] ([Id], [Name], [ShortDescription], [Price], [ImageUrl], [InStock], [LoaiDvid]) VALUES (1, N'NuocTangLuc', NULL, 15000.0000, NULL, 100, 1)
INSERT [dbo].[DichVus] ([Id], [Name], [ShortDescription], [Price], [ImageUrl], [InStock], [LoaiDvid]) VALUES (2, N'NuocSuoi', NULL, 15000.0000, NULL, 100, 1)
SET IDENTITY_INSERT [dbo].[DichVus] OFF
SET IDENTITY_INSERT [dbo].[LoaiDichVus] ON 

INSERT [dbo].[LoaiDichVus] ([Id], [Name], [Description]) VALUES (1, N'Thuc An', N'notthing')
INSERT [dbo].[LoaiDichVus] ([Id], [Name], [Description]) VALUES (2, N'Nuoc Uong', N'notthing')
SET IDENTITY_INSERT [dbo].[LoaiDichVus] OFF
SET IDENTITY_INSERT [dbo].[LoaiPhongs] ON 

INSERT [dbo].[LoaiPhongs] ([Id], [Name], [HinhUrl], [ShortDescription]) VALUES (1, N'DELUXE ROOM', NULL, NULL)
INSERT [dbo].[LoaiPhongs] ([Id], [Name], [HinhUrl], [ShortDescription]) VALUES (2, N'SUPERIOR ROOM', NULL, NULL)
INSERT [dbo].[LoaiPhongs] ([Id], [Name], [HinhUrl], [ShortDescription]) VALUES (3, N'SUITES ROOM', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LoaiPhongs] OFF
SET IDENTITY_INSERT [dbo].[Phongs] ON 

INSERT [dbo].[Phongs] ([Id], [Name], [ShortDescription], [Price], [LoaiPhongId], [ChuongTrinhId], [HinhUrl]) VALUES (1, N'101', N'- Area: 45m2', 150000.0000, NULL, NULL, N'\images\RoomImages\1.jpg')
INSERT [dbo].[Phongs] ([Id], [Name], [ShortDescription], [Price], [LoaiPhongId], [ChuongTrinhId], [HinhUrl]) VALUES (2, N'102', N'- Area: 20m2- 1 double bed or 2 single beds- Bathroom with glass wall and shower- International direct dial telephone- Cable TV- Air conditioner- Tea and coffee table- Wifi and free internet- Room service', 150000.0000, NULL, NULL, N'\images\RoomImages\2.jpg')
INSERT [dbo].[Phongs] ([Id], [Name], [ShortDescription], [Price], [LoaiPhongId], [ChuongTrinhId], [HinhUrl]) VALUES (3, N'103', N'- Area of 70m2
- Living room with leather lounge
- Kingsize bed with blanket, sheet, feather pillow 100% cotton
- Sony 40 inch LCD TV
- Wifi and free internet
- Desk
- Two-way air conditioning with large capacity
- Tea table with free tea and coffee
- Minibar and soft drinks
- Room service
- International direct dial telephone
- Bathtub with shower and hot and cold water system
- Free parking at the resort', 150000.0000, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Phongs] OFF
SET IDENTITY_INSERT [dbo].[TrangThais] ON 

INSERT [dbo].[TrangThais] ([Id], [Name]) VALUES (1, N'Chưa Nhận')
INSERT [dbo].[TrangThais] ([Id], [Name]) VALUES (2, N'Đã Nhận')
INSERT [dbo].[TrangThais] ([Id], [Name]) VALUES (3, N'Đã Thanh Toán')
SET IDENTITY_INSERT [dbo].[TrangThais] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDatPhongs_PhongId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDatPhongs_PhongId] ON [dbo].[ChiTietDatPhongs]
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDatPhongs_TrangThaiId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDatPhongs_TrangThaiId] ON [dbo].[ChiTietDatPhongs]
(
	[TrangThaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDichVuDatPhongs_DatPhongId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDichVuDatPhongs_DatPhongId] ON [dbo].[ChiTietDichVuDatPhongs]
(
	[DatPhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDichVuDatPhongs_DichVuId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDichVuDatPhongs_DichVuId] ON [dbo].[ChiTietDichVuDatPhongs]
(
	[DichVuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DatPhongs_AccountId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhongs_AccountId] ON [dbo].[DatPhongs]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DichVus_LoaiDvid]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DichVus_LoaiDvid] ON [dbo].[DichVus]
(
	[LoaiDvid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhPhongs_PhongId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhPhongs_PhongId] ON [dbo].[HinhPhongs]
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phongs_ChuongTrinhId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phongs_ChuongTrinhId] ON [dbo].[Phongs]
(
	[ChuongTrinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phongs_LoaiPhongId]    Script Date: 6/12/2019 4:23:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phongs_LoaiPhongId] ON [dbo].[Phongs]
(
	[LoaiPhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Discriminator]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietDatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatPhongs_DatPhongs_DatPhongId] FOREIGN KEY([DatPhongId])
REFERENCES [dbo].[DatPhongs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatPhongs] CHECK CONSTRAINT [FK_ChiTietDatPhongs_DatPhongs_DatPhongId]
GO
ALTER TABLE [dbo].[ChiTietDatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatPhongs_Phongs_PhongId] FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phongs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatPhongs] CHECK CONSTRAINT [FK_ChiTietDatPhongs_Phongs_PhongId]
GO
ALTER TABLE [dbo].[ChiTietDatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatPhongs_TrangThais_TrangThaiId] FOREIGN KEY([TrangThaiId])
REFERENCES [dbo].[TrangThais] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatPhongs] CHECK CONSTRAINT [FK_ChiTietDatPhongs_TrangThais_TrangThaiId]
GO
ALTER TABLE [dbo].[ChiTietDichVuDatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVuDatPhongs_DatPhongs_DatPhongId] FOREIGN KEY([DatPhongId])
REFERENCES [dbo].[DatPhongs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDichVuDatPhongs] CHECK CONSTRAINT [FK_ChiTietDichVuDatPhongs_DatPhongs_DatPhongId]
GO
ALTER TABLE [dbo].[ChiTietDichVuDatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVuDatPhongs_DichVus_DichVuId] FOREIGN KEY([DichVuId])
REFERENCES [dbo].[DichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDichVuDatPhongs] CHECK CONSTRAINT [FK_ChiTietDichVuDatPhongs_DichVus_DichVuId]
GO
ALTER TABLE [dbo].[DatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_DatPhongs_AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DatPhongs] CHECK CONSTRAINT [FK_DatPhongs_AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[DichVus]  WITH CHECK ADD  CONSTRAINT [FK_DichVus_LoaiDichVus_LoaiDvid] FOREIGN KEY([LoaiDvid])
REFERENCES [dbo].[LoaiDichVus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVus] CHECK CONSTRAINT [FK_DichVus_LoaiDichVus_LoaiDvid]
GO
ALTER TABLE [dbo].[HinhPhongs]  WITH CHECK ADD  CONSTRAINT [FK_HinhPhong_Phongs] FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phongs] ([Id])
GO
ALTER TABLE [dbo].[HinhPhongs] CHECK CONSTRAINT [FK_HinhPhong_Phongs]
GO
ALTER TABLE [dbo].[Phongs]  WITH CHECK ADD  CONSTRAINT [FK_Phongs_ChuongTrinh] FOREIGN KEY([ChuongTrinhId])
REFERENCES [dbo].[ChuongTrinhs] ([Id])
GO
ALTER TABLE [dbo].[Phongs] CHECK CONSTRAINT [FK_Phongs_ChuongTrinh]
GO
ALTER TABLE [dbo].[Phongs]  WITH CHECK ADD  CONSTRAINT [FK_Phongs_LoaiPhongs] FOREIGN KEY([LoaiPhongId])
REFERENCES [dbo].[LoaiPhongs] ([Id])
GO
ALTER TABLE [dbo].[Phongs] CHECK CONSTRAINT [FK_Phongs_LoaiPhongs]
GO
USE [master]
GO
