@using CaChepFinal2.Extensions
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.BodyClass = "bg1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CaChepFinal2</title>
    @*<link href="css/hover.css" rel="stylesheet" media="all">*@
    @*<link href="css/hover-min.css" rel="stylesheet" media="all">*@
    @*<link rel="stylesheet" href="css/bootstrap.min.css" media="screen">*@
    @*<link rel="stylesheet" href="css/custom.css">*@
    <link href="~/css/all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/hover.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    @*<link rel="stylesheet" href="~/css/style.css" />*@

</head>
<body>
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cici.png" width="100rem" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark fa-tools" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="DatPhong" asp-action="Index">Đặt & Nhận</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiPhongs" asp-action="Index">Loại phòng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Phongs" asp-action="Index">Phòng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiDvs" asp-action="Index">Loại dịch vụ</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssPhongCart") != null)
                        {
                            <li style="color:white">
                                <a class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssPhongCart").Count;
                                        // count= count + HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssDichVuCart").Count;
                                    }
                                    (@count)
                                </a>

                            </li>

                        }
                        else
                        {
                            <li style="color:white">
                                <a class="nav-link">
                                    <i class="fas fa-shopping-cart"></i> &nbsp;
                                    (0)
                                </a>

                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

@* Bài CosmeticMVC2 *@
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand text-light fas fa-home" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light hvr-float fas  fa-home fa-2x" asp-area="" asp-controller="Home" asp-action="Index"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light    hvr-float " asp-area="Admin" asp-controller="DatPhongs" asp-action="Index">Đặt & Nhận</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light    hvr-float " asp-area="" asp-controller="Aboutus" asp-action="Privacy">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="nav-link  text-light hvr-float dropdown-toggle fas fa-tools " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Phongs" asp-action="Index">Phòng</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="LoaiPhongs" asp-action="Index">Loại Phòng</a>
                                    <a><hr /></a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="DichVus" asp-action="Index">Dịch Vụ</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="LoaiDichVus" asp-action="Index">Loại Dịch Vụ</a>
                                    <a><hr /></a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ChuongTrinhs" asp-action="Index">Chương Trình</a>
                                    <a><hr /></a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="TrangThais" asp-action="Index">Trạng Thái</a>
                                </div>
                            </div>
                        </li>
                        @* sssss *@

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container bg1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
